.blast{
    color: #ccd6f6;
    display: inline-block;
    min-width: 10px;
    transition: all 300ms ease-out;
}
.bounce{
    opacity: 0;
    animation: bounceIn 1s;
    min-width: 10px;
    
}
.blast:hover{
    color: #05AFF2;
}
.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}
.rubberband{
    animation-name: rubberBand;
    

}
@for $i from 0 through 53{
    .blast._#{$i}{
        animation-delay: #{$i/15}s;
        animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    }
}
//Make unselect elements
.blast{
    // cursor: text;
    -webkit-user-select: none;
        /*  Chrome all / Safari all 
            -moz-user-select: none;
            /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Likely future */
}
