.about {
  // display: none;
  max-width: 1600px;
  min-height: 90vh;
  margin: auto;
  padding: 100px 150px;
  .about-info{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .about-text {
      // width: 50%;
      ul{
        list-style-type: square;
        padding-left: 1.5rem;
        li{
          font-size: clamp(1rem, 1.5rem, 2rem);
          &::marker{
            color: #9e69fa;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
.fadeInUp{
  animation-name: fadeInUp;
}
@media only screen and (max-width:1200px) {
  .about{
    min-height: 0;
    padding: 60px 3rem;
    .about-info{
      display: block;
      .about-text{
        width: 100%;
      }
      .profile-pic{
        transform: translate(-50%, 0);
        width: 20rem;
        position: relative;
        left: 50%;
        right: 0%;
        
      }
    }
  }
}