.about {
  // display: none;
  max-width: 1600px;
  min-height: 90vh;
  margin: auto;
  padding: 100px 150px;

  .about-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    p{
      transition: all .5s ease-in-out;
    }
    .tech-list {

      margin: 0;
      margin-top: 5%;
      display: flex;
      list-style-type: none;
      padding: 0;

      li {
        margin-right: 10px;
      }
    }

  }
}
p.hidden {
  transform: translateX(-5%);
  opacity: 0;
  transition: all 0s;
  transition-delay: 0;
}

p.show {
  transform: translate(0);
  opacity: 1;
}

@media only screen and (max-width:1200px) {
  .about {
    min-height: 0;
    padding: 60px 3rem;

    .about-info {
      display: block;

      .about-text {
        width: 100%;
      }

      .tech-list {

        display: grid;
        grid-template-columns: 1fr;
        grid-row: repeat(1fr, 4);
        gap: 1vh 0;

        li {
          margin: 0;
        }
      }
    }
  }
}