.contact {
	margin: 25rem 40rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h2{
		text-align: center;
		font-size: clamp(2rem, 10vw, 6rem);
		background: linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
	a{
		cursor: pointer;
		text-decoration: none;
		color: #A77BF3;
		border: #A77BF3 solid 1px;
		border-radius: 7px;
		padding: 1vw;
		font-size: clamp(1rem, 1.5rem, 3rem);
		&:hover{
			background-color: #93f5eb25;
		}
	}
}

@media only screen and (max-width:1200px) {

	.contact {
		margin: 25rem 3rem;
	}
}