.contact{
	margin: 10rem 25rem;
	.blast-section {
		font-size: clamp(1rem, 2vw, 4rem);
		font-weight: bold;
		transition: all 300ms ease-out;
		&:hover{
			color: #05AFF2;
		}
	}
}
@media only screen and (max-width:1200px) {

	.contact {
		margin: 2rem 3rem;
		.blast-section {
			font-size: 2rem;
		}
	}
}
// .contact.show{
// 	transition: all 4s ease;
// 	opacity: 1;
// }
// .contact.hidden{
// 	transition: all 1s ease;
// 	opacity: 0;
// }