.contact {
	margin: 25rem 40rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h2{
		font-size: clamp(2rem, 10vw, 6rem);
		color:#ccd6f6;
	}
	a{
		cursor: pointer;
		text-decoration: none;
		color: #05AFF2;
		border: #05AFF2 solid 1px;
		border-radius: 7px;
		padding: 1vw;
		font-size: clamp(1rem, 1.5rem, 3rem);
		&:hover{
			background-color: #05aff23e;
		}
	}
}

@media only screen and (max-width:1200px) {

	.contact {
		margin: 25rem 3rem;
	}
}