.experience {
	padding: 100px 150px;
	margin: auto;
	max-width: 1600px;
  min-height:60vh ;
	.experience-content {

		ul {
			li {
				font-size: clamp(1rem, 1.5rem, 2rem);
			}
		}
	}
}

@media only screen and (max-width:800px) {

	.experience {
		min-height: 0;
		padding: 60px 3rem;

	}
}