
body{
  background-color: #081A40;
  color: white;
  box-sizing: border-box;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.text{
    margin: 0;
    font-size: 1.7rem;
    color: #8892b0;
}
.show{
  transform: none;
  opacity: 1;
  transition: all 1s;
  // animation: slideInUp 2s ease;
}
.hidden{
  transform: translate(0, 100px);
  opacity: 0;
  transition: all 1s;
  // animation: slideOutDown 2s ease;
}